{% extends "layout.html.twig" %}

{% block main %}

    <div id="infos">
        <div id="ingame">
            <p>Time left : <span id="time"></span></p>
            <p>Score : <span id="score">0</span></p>
        </div>
        <div id="gameover">
            <h2>GAME OVER</h2>
        </div>
    </div>


    <div id="playground">
        <div id="grid"></div>
        <div id="pain"></div>
        <div id="endscore">
            <div class="tile tile-hot">
                <h2>Score : <span id="finalscore"></span></h2>
                <h2><a href="{{ path('game_show', { 'id': game.id }) }}" class="btn btn-primary btn-large btn-block">Try again ?</a></h2>
            </div>
        </div>
    </div>

{% endblock %}

{% block bootstrap %}
    <script>
        var datae = '{{ data }}';
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/main.js"></script>
{% endblock %}