{% extends "layout.html.twig" %}

{% block main %}

    <div id="infos">
        <p>Time left : <span id="time"></span></p>
        <p>Score : <span id="score">0</span></p>
    </div>

    <div id="gameover">
        GAME OVER
    </div>

    <div id="playground">
        <div id="grid"></div>
        <div id="pain"></div>
        <table id="endScore">
            <tr><td>
                <p>Score : <span id="final_score"></span></p>
                <p><a href="">Try again ?</a></p>
            </td></tr>
        </table>
    </div>


{% endblock %}

{% block bootstrap %}
    <script>
        var datae = '{{ data }}';
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/main.js"></script>
{% endblock %}