{% extends "layout.html.twig" %}

{% block main %}
    <div id="grid">
    </div>

    <p>Time left : <span id="time">10</span></p>
    <p>Score : <span id="score">0</span></p>
{% endblock %}

{% block bootstrap %}
    <script>
        var urls = {{ data | json_encode | raw }};
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/main.js"></script>
{% endblock %}