<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>WHL</title>
</head>
<body>
    {% block body %}
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <div class="container">
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% endblock %}

    {% block javascripts %}
    <script src="/assets/js/jquery.js"></script>
    {% endblock %}
</body>
</html>