{% extends "layout.html.twig" %}

{% block main %}
    <form action="{{ path('game_create') }}" method="POST">
        <label for="urls">URLs à checker (une par ligne) :</label>
        <textarea name="urls" placeholder="http://fr.youporn.com"></textarea>
        <input type="submit" value="Créer le jeu" />
    </form>
{% endblock %}