@CHARSET "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 600px;
    margin: auto;
}

#infos {
    width: 400px;
    text-align: center;
    margin: 10px auto;
    font-size: 1.5em;
}

#playground {
    margin: auto;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    width: 440px;
    height: 440px;
}

#gameover {
    display: none;
    margin: auto;
    text-align: center;
    font-size: 4em;
}

#endScore {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
}

#endScore td {
    vertical-align: middle;
    white-space: normal;
    text-align: center;
    font-size: 4em;
}

#pain {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: red;
}

#grid {
    cursor: none;
    position: absolute;
}

#grid .line {
    height: 22px;
}

#grid .item {
    display: inline-block;
    padding: 1px 1px;
}

#grid .item a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    text-decoration: none;
    cursor: none;
}

#grid .item .replacement {
    display: block;
    width: 20px;
    height: 20px;
}

#grid .item.real.red1 a:visited {
    background-color: red;
}

#grid .item.real.red2 a:visited {
    background-color: indianred;
}

#grid .item.real.red3 a:visited {
    background-color: orangered;
}

#grid .item .replacement:hover {
    background-color: black;
}
