@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#grid {
	margin: 50px;
    border: 1px solid black;
    cursor: default;
}

div.line {
    height: 20px;
}

span.item {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: white;
}

span.item a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	text-decoration: none;
	cursor: default;
}

span.item.real a {
    background-color: #AA0000;
}

span.item.real a:visited {
    background-color: #AA0000;
}